:root {
  --bg: #282828;
  --surface: #3c3836;
  --surface-alt: #504945;
  --text: #ebdbb2;
  --text-muted: #a89984;
  --yellow: #fabd2f;
  --green: #8ec07c;
  --orange: #fe8019;
  --red: #fb4934;
  --purple: #d3869b;
  --blue: #83a598;
	--sidebar-width: 12rem;
}

* {
	box-sizing: border-box;
}

h1, h2, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	line-height: 1.4;
	height: 100%;
	overflow-y: hidden;
}

ul {
	list-style: none;
}

a {
	color: var(--orange);
}

a:focus, a:active {
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
}

#content {
	margin-left: var(--sidebar-width);
	padding: 1rem;
	overflow-y: scroll;
	position: absolute;
	width: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.menu .icon {
	width: 1.2rem;
	height: 1.2rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--sidebar-width);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid var(--surface);
	padding: 1rem;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
}

.menu li {
	border-radius: 0.2rem;
	padding: 0.4rem 0.8rem;
	width: 100%;
}

.menu li a {
	text-decoration: none;
	color: unset;
	display: flex;
	align-items: center;
}

.menu li.active {
	background-color: var(--surface);
}

.menu li.active .icon {
	color: var(--orange);
}

.menu li:hover {
	background-color: var(--surface-alt);
}

.menu li:hover .icon {
	color: var(--green);
}

.menu li span {
	margin-left: 0.6rem;
}

.socials {
	display: flex;
	gap: 1.2rem;
}

.socials .icon {
	width: 1.4rem;
	height: 1.4rem;
}

.socials li a {
	text-decoration: none;
	color: var(--surface-alt);
}

.socials li a:hover {
	color: var(--orange);
}

.project {
	box-sizing: border-box;
	border: 1px solid var(--surface);
	padding: 1rem;
}

.project * {
	margin: 0;
	padding: 0;
}

.project h3 {
	margin-bottom: 0.8rem;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		width: 100%;
		border-right: none;
		border-top: 1px solid var(--surface);
		position: fixed;
		bottom: 0;
		top: unset;
		height: unset;
	}

	.menu {
		flex-direction: row;
	}

	.menu li a {
		justify-content: center;
	}

	.menu li .icon, .socials {
		display: none;
	}

	#content, .menu li span {
		margin-left: 0;
	}

	#content {
		bottom: 4.25rem;
	}
}

@media only screen and (max-width: 420px) {
	.menu li .icon {
		display: block;
	}

	.menu li span {
		display: none;
	}
}

