:root {
	--bg: #1c1c1c;
	--bg-alt: #282828;
	--surface: #3c3836;
	--surface-alt: #504945;
	--text: #ebdbb2;
	--text-muted: #a89984;
	--yellow: #fabd2f;
	--green: #8ec07c;
	--orange: #fe8019;
	--red: #fb4934;
	--purple: #d3869b;
	--blue: #83a598;
	--sidebar-width: 12rem;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	line-height: 1.4;
	height: 100%;
	overflow-y: hidden;
}

.preload * {
	transition: none !important;
	animation-duration: 0.001s !important;
}

ul {
	list-style: none;
}

a {
	color: var(--orange);
}

a:focus, a:active {
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
}

#content {
	margin-left: var(--sidebar-width);
	padding: 1rem;
	overflow-y: scroll;
	position: absolute;
	width: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.icon {
	width: 1.2rem;
	height: 1.2rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--sidebar-width);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid var(--surface);
	padding: 1rem;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
}

.menu li {
	border-radius: 0.2rem;
	width: 100%;
}

.menu li a {
	text-decoration: none;
	color: unset;
	display: flex;
	align-items: center;
	padding: 0.4rem 0.8rem;
}

.menu li.active {
	background-color: var(--surface);
}

.menu li.active .icon {
	color: var(--orange);
}

.menu li:hover {
	background-color: var(--surface-alt);
}

.menu li:hover .icon {
	color: var(--green);
}

.menu li span {
	margin-left: 0.6rem;
}

.socials {
	display: flex;
	gap: 1.2rem;
}

.socials .icon {
	width: 1.4rem;
	height: 1.4rem;
}

.socials li a {
	text-decoration: none;
	color: var(--surface-alt);
}

.socials li a:hover {
	color: var(--orange);
}

.card {
	position: relative;
	height: 100%;
	border: 1px solid var(--surface);
	background-color: var(--bg-alt);
	border-radius: 0.2rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	transition-property: transform, box-shadow, border-color;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
	border-color: var(--yellow);
}

.card .more {
	color: var(--yellow);
	background: #282828;
	background: linear-gradient(90deg, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 1) 30%);
	padding-left: 4rem;
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right;
	opacity: 0;
	transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card:hover .more {
	opacity: 1;
}

.project .wip {
	background-color: var(--yellow);
	color: var(--bg);
	display: inline-block;
	font-weight: bold;
	padding: 0 0.4rem;
	border-radius: 2rem;
	position: absolute;
	top: -10px;
	right: 10px;
	font-size: 0.8rem;
}

.card:hover h3 {
	text-decoration: underline;
}

.card p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project p {
	-webkit-line-clamp: 2;
}

.post p {
	-webkit-line-clamp: 4;
}

.tags {
	display: flex;
	gap: 0.4rem;
	margin-bottom: 0.8rem;
	font-size: 0.875rem;
}

.tag {
	background-color: var(--surface);
	padding: 0.4rem;
	border-radius: 0.2rem;
	min-width: 2rem;
	max-width: 6rem;
	text-align: center;
	display: block;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card p {
	font-size: 0.875rem;
}

.project h3 {
	margin-bottom: 0.8rem;
}

.post h3 {
	margin-bottom: 0.2rem;
}

.post .date {
	color: var(--text-muted);
	font-size: 0.75rem;
	display: block;
	margin-bottom: 0.75rem;
}

.post:hover {
	border-color: var(--green)
}

@media only screen and (max-width: 600px) {
	.sidebar {
		width: 100%;
		border-right: none;
		border-top: 1px solid var(--surface);
		position: fixed;
		bottom: 0;
		top: unset;
		height: unset;
	}

	.menu {
		flex-direction: row;
	}

	.menu li a {
		justify-content: center;
	}

	.menu li .icon, .socials {
		display: none;
	}

	#content, .menu li span {
		margin-left: 0;
	}

	#content {
		bottom: 4.25rem;
	}
}

@media only screen and (max-width: 420px) {
	.menu li .icon {
		display: block;
	}

	.menu li span {
		display: none;
	}
}

