:root {
	--bg: #1c1c1c;
	--bg-alt: #282828;
	--surface: #3c3836;
	--surface-alt: #504945;
	--text: #ebdbb2;
	--text-muted: #a89984;
	--yellow: #fabd2f;
	--green: #8ec07c;
	--orange: #fe8019;
	--red: #fb4934;
	--purple: #d3869b;
	--blue: #83a598;
	--sidebar-width: 12rem;
}

* {
	box-sizing: border-box;
}

h1, h2, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	line-height: 1.4;
	height: 100%;
	overflow-y: hidden;
}

ul {
	list-style: none;
}

a {
	color: var(--orange);
}

a:focus, a:active {
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
}

#content {
	margin-left: var(--sidebar-width);
	padding: 1rem;
	overflow-y: scroll;
	position: absolute;
	width: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.icon {
	width: 1.2rem;
	height: 1.2rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--sidebar-width);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid var(--surface);
	padding: 1rem;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
}

.menu li {
	border-radius: 0.2rem;
	padding: 0.4rem 0.8rem;
	width: 100%;
}

.menu li a {
	text-decoration: none;
	color: unset;
	display: flex;
	align-items: center;
}

.menu li.active {
	background-color: var(--surface);
}

.menu li.active .icon {
	color: var(--orange);
}

.menu li:hover {
	background-color: var(--surface-alt);
}

.menu li:hover .icon {
	color: var(--green);
}

.menu li span {
	margin-left: 0.6rem;
}

.socials {
	display: flex;
	gap: 1.2rem;
}

.socials .icon {
	width: 1.4rem;
	height: 1.4rem;
}

.socials li a {
	text-decoration: none;
	color: var(--surface-alt);
}

.socials li a:hover {
	color: var(--orange);
}

#virtual-list .list-item {
	border: 1px solid var(--surface);
	background-color: var(--bg-alt);
	border-radius: 0.2rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#virtual-list .list-item:hover h3 {
	text-decoration: underline;
}

#virtual-list .list-item p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#virtual-list .list-item .tags {
	display: flex;
	gap: 0.4rem;
	margin-bottom: 0.8rem;
}

#virtual-list .list-item .tag {
	background-color: var(--surface);
	padding: 0.4rem;
	border-radius: 0.2rem;
	display: inline-block;
	min-width: 2rem;
	text-align: center;
}

.projects-item img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

#virtual-list .list-item * {
	margin: 0;
	padding: 0;
}

#virtual-list .list-item h3 {
	margin-bottom: 0.8rem;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		width: 100%;
		border-right: none;
		border-top: 1px solid var(--surface);
		position: fixed;
		bottom: 0;
		top: unset;
		height: unset;
	}

	.menu {
		flex-direction: row;
	}

	.menu li a {
		justify-content: center;
	}

	.menu li .icon, .socials {
		display: none;
	}

	#content, .menu li span {
		margin-left: 0;
	}

	#content {
		bottom: 4.25rem;
	}
}

@media only screen and (max-width: 420px) {
	.menu li .icon {
		display: block;
	}

	.menu li span {
		display: none;
	}
}

